.box-card {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 60px 0 100px;
}

.box-card /deep/ .el-card__body {
    height: 100%;
}

.top {
    margin-top: -60px;
}

.center {
    height: 100%;
    box-sizing: border-box;
}

.center>div.el-col {
    height: 100%;
}

.el-table {
    max-height: 100%;
    /* height: 100%; */
    /* overflow: auto; */
}

.el-table::before {
    height: 0;
}

div /deep/ .el-table__body-wrapper {
    overflow-y: auto;
}